.header {
  position: fixed;
  background: $hiro__gradient;
  height: 30vh;
  width: 100vw;
}

.div {
  position: fixed;
  display: flex;
}

.header__delivery {
  position: fixed;
  width: 100vw;
  height: 10%;
  background-color: $secondaryColor;

  .header__text {
    color: white;
    margin: 1em auto 1em;
    font-size: 20px;
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: defilement-rtl 15s infinite linear;

    @keyframes defilement-rtl {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
}

.nav {
  position: fixed;
  top: 12%;
  left: 15px;
  height: 50px;
  width: 50px;
  transition: height 0.5s, width 0.5s, left 0.5s, bottom 0.5s;

  @include medium {
    width: 100vw;
    // top: 0;
    // left: 0;
  }

  &.is-open {
    background-color: #feafa3;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;

    @include medium {
      background-color: transparent;
      height: 50px;
      top: 80px;
    }
  }

  .nav__open {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

    cursor: pointer;

    @include medium {
      display: none;
    }

    .nav__openIcon {
      transition: background-color 0.3s;
    }

    .nav__openIcon,
    .nav__openIcon::before,
    .nav__openIcon::after {
      height: 3px;
      width: 36px;
      background-color: white;
    }

    .nav__openIcon::before,
    .nav__openIcon::after {
      content: "";
      display: block;
      transition: transform 0.3s;
    }

    .nav__openIcon::before {
      transform: translateY(-9px);
    }

    .nav__openIcon::after {
      transform: translateY(6px);
    }
  }
}

.nav__items {
  position: fixed;
  top: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: translate(calc(-50vw + 40px), calc(-50vh + 40px)) scale(0);
  opacity: 0;
  transition: transform 0.5s;

  @include medium {
    position: static;
    opacity: 1;
    transform: none;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    font-size: 20px;
    color: white;

    @include medium {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;

      @include medium {
        margin-bottom: 0px;
      }
    }
  }
}

.nav.is-open .nav__items {
  transform: none;
  opacity: 1;
}

.nav:not(is-open) .nav__items {
  pointer-events: none;
}

.nav.is-open .nav__openIcon {
  background-color: transparent;

  &::before {
    transform: translateY(1px) rotate(45deg);
  }

  &::after {
    transform: translateY(-1px) rotate(-45deg);
  }
}
