.container__header {
  background: $hiro__gradient;

  .header__delivery {
    width: 100vw;
    height: 10%;
    background-color: $secondaryColor;
    overflow: hidden;

    .header__text {
      font-size: 20px;
      color: white;
      margin-top: 1em;
      margin-bottom: 1em;
      display: inline-block;
      padding-right: 2em;
      padding-left: 100%;
      white-space: nowrap;
      animation: defilement-rtl 12s infinite linear;

      @keyframes defilement-rtl {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(-100%, 0, 0);
        }
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 15px 20px;
    @include medium {
      flex-direction: column;
    }

    .nav {
      overflow: hidden;
      height: 50px;
      width: 50px;
      transition: height 0.5s, width 0.5s;
      @include medium {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
      }

      &.is-open {
        height: 100vh;
        width: 100%;

        @include medium {
          height: 100%;
        }

        .nav__items {
          position: fixed;
          background-color: $headerColor;
          transform: none;
          opacity: 1;

          @include medium {
            position: static;
            background-color: transparent;
          }
        }

        .open__openIcon {
          background-color: transparent;

          &::before {
            transform: translateY(2px) rotate(45deg);
          }

          &::after {
            transform: translateY(-2px) rotate(-45deg);
          }
        }
      }

      &:not(.is-open) ul {
        pointer-events: none;
      }

      .open {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        @include medium {
          display: none;
        }

        &__openIcon {
          transition: background-color 0.3s;
        }

        &__openIcon,
        &__openIcon::before,
        &__openIcon::after {
          width: 36px;
          height: 3px;
          background-color: white;
        }

        &__openIcon::before,
        &__openIcon::after {
          content: "";
          display: block;
          transition: transform 0.3s;
        }

        &__openIcon::before {
          transform: translateY(-9px);
        }

        &__openIcon::after {
          transform: translateY(6px);
        }
      }

      .nav__items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        width: 100vw;
        transform: translate(calc(-50vw + 30px), calc(-50vh + 30px)) scale(0);
        opacity: 0;
        transition: transform 0.5s, opacity 0.3s;
        @include medium {
          opacity: 1;
          transform: none;
          height: 100%;
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          margin-right: 10px;
        }
      }

      li {
        font-size: 30px;
        color: white;
        cursor: pointer;
        @include medium {
          font-size: 20px;
        }
      }

      li:not(:last-child) {
        margin-bottom: 50px;
        @include medium {
          margin-bottom: 0;
        }
      }
    }

    .menu__logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 72%;
      @include medium {
        order: -1;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 10px;
      }

      .logo__business {
        width: 130px;
        height: 29px;
        @include medium {
          width: 150px;
        }
      }

      .icon__user {
        width: 18px;
        height: 18px;
        @include medium {
          width: 20px;
          height: 20px;
        }
        &--card {
          margin-right: 10px;
          @include medium {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
