main {
  margin: 140px 40px 140px 40px;
}
.hero {
  margin-right: 10px;
  @include small {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__product {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 112px;
    @include medium {
      margin: 112px 20px 140px 20px;
    }

    .hero__picture {
      width: 40%;
      height: 40%;
      @include large {
        display: none;
      }
    }

    .hero__pictureMedium {
      display: none;
      @include large {
        display: block;
      }
    }

    .describe {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-left: 30px;

      &__title,
      &__subtitle {
        margin-bottom: 16px;
      }

      &__title {
        font-size: 22px;
        font-family: $robottoMedium;
        color: $hiro__title;
        @include medium {
          font-size: 32px;
        }
      }

      &__subtitle {
        font-size: 16px;
        font-family: $robottoMedium;
        color: $hiro__subtitle;
        text-transform: uppercase;
        @include medium {
          font-size: 24px;
        }
      }

      &__product {
        font-size: 16px;
        color: $hiro__text;
        @include medium {
          font-size: 22px;
        }
      }
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  @include large {
    flex-direction: row;
    justify-content: space-around;
  }
}

.mulberry,
.blackCoffee,
.almondCake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
  @include medium {
    flex-direction: row;
  }
  @include large {
    flex-direction: column;
  }

  &__product {
    @include medium {
      margin-top: 100px;
    }
  }

  .mulberry__product,
  .almondCake__product {
    @include medium {
      order: -1;
    }
    @include large {
      order: initial;
    }
  }
  .blackCoffee__product {
    margin-left: 30px;
  }

  &__title {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: $robottoMedium;
  }

  .mulberry__title {
    color: $product__title--petitMurier;
  }

  .blackCoffee__title {
    color: $product__title--noirNordique;
  }

  .almondCake__title {
    color: $product__title--gateauDamende;
  }

  &__describe {
    font-size: 18px;
    font-family: $robottoMedium;
    color: $product__describe;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .intensity {
    display: flex;

    &__text {
      color: $hiro__text;
      font-family: $robottoRegular;
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .info {
    display: flex;
    align-items: center;
    color: $hiro__text;
    font-family: $robottoRegular;
    font-size: 20px;
    margin-top: 14px;

    &__quantity {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 34px;
      width: 58px;
      border: 1px solid $secondaryColor;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include medium {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 140px;
  }

  &__picture {
    position: relative;
    z-index: 2;
    margin-top: 80px;

    .picture {
      @include large {
        width: 400px;
      }
    }
  }

  &__colorContainer {
    display: flex;
    flex-direction: row;
    //width: 300px;
    justify-content: flex-end;
    margin-bottom: 30px;

    .product__color {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid grey;
      margin-left: 10px;
      @include large {
        width: 30px;
        height: 30px;
      }

      &--first {
        background-color: red;
      }

      &--second {
        background-color: black;
      }

      &--third {
        background-color: white;
      }
    }
  }

  &__elementGraphic {
    position: absolute;
    z-index: 1;
    width: 900px;

    &--vertuo {
      right: 0;
    }

    &--original {
      left: 0;
    }
  }

  &__container {
    margin-left: 15px;
    z-index: 2;

    &--vertuo {
      @include medium {
        order: -1;
      }
    }
  }

  &__offer {
    font-size: 18px;
    color: $section__subtitle;
    text-transform: uppercase;

    @include medium {
      font-size: 22px;
    }
  }

  &__offer,
  &__title {
    font-family: $robottoMedium;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 24px;
    color: $section__title;
    @include medium {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-size: 20px;
    color: $primarycolor;
    margin-bottom: 20px;
  }

  .product__description {
    font-size: 20px;
    color: $product__describe;
    line-height: 27px;
  }
}

.environment {
  display: flex;
  flex-direction: column;
  //: 140px 40px 0 40px;
  margin-top: 180px;
  @include medium {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include medium {
      margin-left: 0;
    }
  }

  &__container {
    margin-left: 20px;
    @include medium {
      order: 1;
    }
  }

  &__title {
    font-size: 24px;
    color: $section__title;
    font-family: $robottoMedium;
    margin-bottom: 10px;
    @include medium {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-size: 20px;
    color: $primarycolor;
    margin-bottom: 20px;
  }

  &__article {
    border: 2px solid;
    box-shadow: 1px 1px 1px #ffebe7;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;

    &--plantations {
      border-color: #215c12;
    }

    &--recycling {
      border-color: #bd4c2a;
    }
  }
  &__picture {
    @include large {
      width: 600px;
      left: 0;
    }
  }
}
.advantage {
  background: $section__gradient;
  padding: 80px 0 80px 80px;
  @include large {
    padding: 130px 0 130px 130px;
  }

  .advantage__container {
    position: relative;
    display: flex;
    flex-direction: column;
    @include medium {
      justify-content: center;
    }
  }

  .advantage__title,
  .advantage__subtitle {
    font-family: $robottoMedium;
    margin-bottom: 10px;
  }
  .advantage__title {
    font-size: 25px;
    color: $hiro__title;
  }

  .advantage__subtitle {
    font-size: 30px;
    color: $section__title;
    @include large {
      font-size: 40px;
    }
  }

  .advantage__offer {
    font-size: 20px;
    color: $primarycolor;
    margin-bottom: 20px;
  }

  .advantage__capsule {
    position: absolute;
    right: 0;
    margin-top: 150px;
    @include medium {
      margin-top: 0;
    }
  }
}
