@font-face {
  font-family: robottoLight;
  src: url(/Fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: robottoMedium;
  src: url(/Fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: robottoRegular;
  src: url(/Fonts/Roboto-Regular.ttf);
}
