$primarycolor: #4f4f4f;
$secondaryColor: #bd4c2a;
$headerColor: #ff7b66;
$hiro__gradient: linear-gradient(
  179.08deg,
  #ff7b66 12.27%,
  #fda597 56.35%,
  #fea89a 58.43%,
  #feaa9d 60.33%,
  #feac9f 62.04%,
  #feafa3 64.27%,
  #ffb3a7 67.12%,
  #ffb9ae 69.23%,
  #ffc0b6 71.7%,
  #ffc6bd 74.08%,
  #ffcdc5 76.56%,
  #ffd2cb 78.29%,
  #ffd9d3 80.01%,
  #ffdfda 81.89%,
  #fde6e3 83.72%,
  #ffebe7 85.81%,
  #f9f6f6 87.9%,
  #fff9f8 89.89%,
  #ffffff 91.96%
);

$hiro__title: #75250f;
$hiro__subtitle: #b94120;
$hiro__text: #4f4f4f;

$product__title--petitMurier: #ff8471;
$product__title--noirNordique: #327b98;
$product__title--gateauDamende: #d1845e;

$product__describe: #828282;
$product__intensity: #474747;
$product__intensityround: #736565;

$section__title: #ce4f2c;
$section__subtitle: #75250f;
$section__gradient: linear-gradient(
  180deg,
  #ffffff 1.5%,
  #ffffff 2.83%,
  #fff6f4 13.61%,
  #fbeeec 29.25%,
  #ffe9e5 37.47%,
  #ffe7e4 49.19%,
  #fce8e5 57.8%,
  #fce7e4 67.18%,
  #ffeae6 75.78%,
  #fff1ee 84.23%,
  #fff7f6 88.54%,
  #ffffff 95.57%,
  #ffffff 96.19%
);

$footer__reinsurance: #ffffff;
$footer__information: #3d3d3d;

$btnRadius: 50px;
$btnBackground: #bd4c2a;
$btnPadding: 10px 24px;
$btnColor: white;

$robottoLight: "robottoLight";
$robottoMedium: "robottoMedium";
$robottoRegular: "robottoRegular";
